<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Lista Generica</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" routerLink="">Home</a>
      <a class="nav-link" routerLink="lista">Lista</a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="wrap">
    <h1>{{ title | json }}</h1>
    <h1>{{ test }}</h1>
    <app-table [color]="'white'" [(registros)]="registro"></app-table>
    <br>
  </div>
  <div class="wrap2">
    <app-table [color]="'#001d00'" [(registros)]="registro"></app-table>
    <br>
  </div>
</div>
<app-table  [(registros)]="registros2" ></app-table>
<br><br>
<div class="d-flex justify-content-center">
<app-table [(registros)]="registros2" [largura]="'700px'" [size]="'25px'"></app-table>
</div>
