<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Lista Generica</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" routerLink="">Home</a>
      <a class="nav-link" routerLink="lista">Lista</a>
    </div>
  </div>
</nav>
<div class="container col-md-12">
  <div class="wrap">
    <app-table
      [color]="'white'"
      [classeCss]=""
      [(registros)]="registros"
      [cabecalho]="header"
      (inserir)="f($event[0])"
      (excluir)="f($event[0])"
      (editar)="f($event[0])"
    ></app-table>
    <br />
  </div>
  <div class="wrap2">
  <router-outlet></router-outlet>
</div>
  <!-- <app-table
    [(registros)]="registros3"
    [cabecalho]="header2"
    (inserir)="f($event[0])"
  ></app-table> -->

  <br><br>
  <!-- <div class="d-flex justify-content-center" *ngIf="registro4">
    <app-table [(registros)]="registro4"></app-table>
  </div> -->
</div>

